@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #eeaeca, #94bbe9);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  width: 500px;
  background: rgba(255, 255, 255, 0.61);
  border-radius: 7px;
  padding: 20px 25px 15px;
  margin: 0px 10px 0px 10px;
}
header h1{
  font-size: 27px;
  font-weight: 500;
}
header p{
  font-size: 18px;
  margin-top: 5px;
}

form{
  margin: 20px 0px 7px;
}
form input{
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 19px;
  padding: 0px 17px;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
}

form button{
  opacity: 0.7;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  padding: 15px 0px;
  font-size: 17px;
  margin-top: 20px;
  border-radius: 5px;
  background: #4285f4;
  pointer-events: none;
}
form input:valid ~ button{
  opacity: 1;
  pointer-events: auto;
}






